.title {
    text-align: center;
    background-color: red;
}

.todo-container {
    text-align: center;
    background-color: green;
}

#new-todo-input {
    
    text-align: center;

}

#new-todo-submit {
    
}

.tasks {
    
}

.new-tasks {
    background-color: blue;
}